## 1.odd or even

In [4]:
n1=int(input("enter a number"))
rem=n1%2
if rem==0 :
     print("the given number",n1,"is even")
else:
    print("the given number",n1,"is odd")

enter a number 67

the given number 67 is odd

## 2.negative positive or zero

In [8]:
n2=int(input("enter a number:"))
if n2>0:
    print("the given number",n2,"is positive")
elif n2<0:
    print("the given number ",n2,"is negative")
else:
    print("its zero")

enter a number: -8

the given number  -8 is negative

## 3.leap year

In [10]:
y=int(input("enter the year:"))
rem=y%4
if rem==0:
    print("the given year",y,"is a leap year")
else:
    print("the given year ",y,"is a non leap year")

enter the year: 2023

the given year  2023 is a non leap year

## 4.factor of number

In [2]:
f=int(input("enter the number:"))
n=f
for i in range(1,f+1):
    if f%i==0:
        print("factors of",n,"are",i)

enter the number: 4

factors of 4 are 1
factors of 4 are 2
factors of 4 are 4

## 5.reverse a number

In [5]:
num=int(input("enter a number:"))
rs=0
while num!=0:
    r=num%10
    rs=rs*10+r
    num=num//10
print("reversed number is:",str(rs))

enter a number: 63

reversed number is: 36

## 10.mulptiplication table

In [2]:
 for i in range(1,6):
    print("multiplication table for",i,"is:")
    for j in range(1,12):
        print(i,"x",j,"=",i*j)

multiplication table for 1 is:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
multiplication table for 2 is:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
multiplication table for 3 is:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
multiplication table for 4 is:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
multiplication table for 5 is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55

## 9.calculator

In [5]:
symbol=input("for simple calculation + for sum, - for difference, / for division, * for multiplication")
n1=float(input("enter first number"))
n2=float(input("enter second number"))
match symbol:
    case'+':
        print(n1,"+",n2,"=",n1+n2)
    case'-':
         print(n1,"-",n2,"=",n1-n2)
    case'/':
         print(n1,"/",n2,"=",n1/n2)
    case'*':
         print(n1,"*",n2,"=",n1*n2)

for simple calculation + for sum, - for difference, / for division, * for multiplication -
enter first number 8
enter second number 2

8.0 - 2.0 = 6.0

## 8.fibonacci series

In [27]:
num=int(input("enter a number:"))
n1,n2=0,1
for i in range(num):
    print(n1)
    n1,n2=n2,n1+n2

enter a number: 7

0
1
1
2
3
5
8

## 6.sum ofnumbers

In [49]:
start=int(input("enter start no:"))
end=int(input("enter end no:"))
sum1=0
for i in range(start,end+1):
    sum1=sum1+i
print(sum1)

enter start no: 2
enter end no: 4

9

## 7.prime number

In [2]:
str1=int(input("entr a num:"))
isprime=True
for i in range(2,str1):
    if((str1%i)==0):
        isprime=False
if(isprime):
    print(str1," is prime")
else:
    print(str1," is not prime")

entr a num: 4

4  is not prime