## 1.user name and password

In [4]:
un=str(input("enter your username:"))
pw=str(input("enter your password:"))
if (pw=="cdac") & (un==""):
    print("login successful")
else:
    print("login failure")

enter your username: rohin
enter your password: cdac

login failure

## 2. input 2 string

In [11]:
str1=str(input("enter first string:"))
str2=str(input("enter second strig:"))
if (str2 in str1):
    str30=str2[0:5];
    str31="cdac"+str30
    print("new string is",str31) 
else:
    print(str1,"is not in",str2)

enter first string: abcdabcd
enter second strig: abcd

new string is cdacabcd

## 3.string with decimal

In [16]:
str1=str(input("enter a string with decimal:"))
k="";
for i in str1:
    if(i.isdigit()|(i==".")):
        k+=i
print("the number is:",k)
s1,s2,s3=k.partition(".")
if(s3):
    print("the decimal part is 0."+s3)
else:
    print("decimal part dose not exist")

enter a string with decimal: abcd9087.234sde

the number is: 9087.234
the decimal part is 0.234

## 4.capitalize first letter of each word

In [12]:
str1=str(input("enter the string:"))
str2=str1.title()
print(str2)

enter the string: i love india

I Love India

## 5.capitalize every other letter in a word

In [38]:
str1=str(input("enter the string:"))
k2=""
k3=""
for i in range(0,len(str1)):

    if i%2==0:
      k2=k2+str1[i]
    else:
        k2=k2+str1[i].upper()
        
print("the new string is:",k2)

enter the string: python

the new string is: pYtHoN

### 6.doubles the letter

In [35]:
w=input("enter a string:")
d_str=''.join(char*2 for char in w)
print(d_str)

enter a string: abc

aabbcc

## 7.word with length

In [14]:
str1=str(input("enter a line:"))
if(str1!=""):
    w=str1.split(" ")
    for i in w:
        if(i):
            print(i,":len",len(i))

enter a line: abc abv

abc :len 3
abv :len 3

## 8.deleting characters

In [21]:
str1=str(input("enter a string:"))
cha1=input("enter a character:")
if cha1 in str1:
    str2=str1.replace(cha1,"")
    print(str2)

enter a string: attingal
enter a character: t

aingal

## 9.lc to uc and uc to lc

In [22]:
sen=input("enter a sentence:")
consen=""
for char in sen:
    if char.islower():
        consen+=char.upper()
    else:
        consen+=char.lower()
print(consen)

enter a sentence: hai HELLO

HAI hello

## 10.a,b,c,d

In [32]:
str1=input("enter a string:")
k=0
print("the number are:")
for i in str1:
    if i.isnumeric():
         print(i)
         k+=int(i)
print("sum=",k)

enter a string: abc 1 2 bh 4 5

the number are:
1
2
4
5
sum= 12