### 1.students details

In [5]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'purple','Jenny':'pink'}
print("no.of students in the list:",len(people))
people.update({'Lisa':'blue'})
print(people)
people.popitem()

no.of students in the list: 4
{'Arham': 'Blue', 'Lisa': 'blue', 'Vinod': 'purple', 'Jenny': 'pink'}

('Jenny', 'pink')

In [6]:
sorted(people)

['Arham', 'Lisa', 'Vinod']

## 2.translate

In [8]:
def translate(x):
    str1=""
    for i in x:
        str1+=i
        if(i not in('a','e','i','o','u',' ')):
            str1+="o"+i
    return str1
translate("this is fun")

'tothohisos isos fofunon'

## 3. function to factorial

In [34]:
def factorial(n):
    k=1
    for i in range(1,n+1):
        k=k*i
    return k
print("factorial from 1 to 20 is:")
for i in range(1,21):
    print(str(i)+"! =",factorial(i))

factorial from 1 to 20 is:
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880
10! = 3628800
11! = 39916800
12! = 479001600
13! = 6227020800
14! = 87178291200
15! = 1307674368000
16! = 20922789888000
17! = 355687428096000
18! = 6402373705728000
19! = 121645100408832000
20! = 2432902008176640000

## 4. longest word

In [1]:
def longest_word(lst1):
    lst2=[]
    for x in lst1:
        lst2.append(len(x))
    return max(lst2)
lstA=['cdac','abcg','trivandrum']
print("length of longest word is:",longest_word(lstA))

length of longest word is: 10

## 5.spelling correction

In [56]:
def correction(str1):
    str2=""
    prev=""
    for i in str1:
        if((i==" ")&(prev==" ")):
            pass
        elif((i!=" ")&(prev==".")):
            str2+=" "+i
        else:
            str2+=i
        prev=i
    return str2
str2="This is  very  funny and cool.Indeed"
print(str2)
print(correction(str2))

This is  very  funny and cool.Indeed
This is very funny and cool. Indeed

## 6.words in a sentence

In [6]:
str1="i love my india"
l1=str1.split()
print([i for i in l1 if len(i)>4])

['india']

## 7.divisible by 7

In [10]:
lst1=range(1,1000)
print([i for i in lst1 if (i%7==0)])

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

## 8.set operations

In [11]:
set1={"i","love","my","india"}
set1

{'i', 'india', 'love', 'my'}

In [12]:
set1.add("and kerala")

In [13]:
set1

{'and kerala', 'i', 'india', 'love', 'my'}

In [14]:
set1.discard("i")
set1

{'and kerala', 'india', 'love', 'my'}

In [15]:
set1.clear()
set1

set()

In [16]:
s1={40,50,60,70,80}
s2={70,80,90,100}
s1.union(s2)

{40, 50, 60, 70, 80, 90, 100}

In [18]:
s1.intersection(s2)

{70, 80}

In [19]:
s1.difference(s2)

{40, 50, 60}

In [21]:
s1.symmetric_difference(s2)

{40, 50, 60, 90, 100}

In [22]:
s1|s2

{40, 50, 60, 70, 80, 90, 100}

In [23]:
s1&s2

{70, 80}

In [24]:
s1-s2

{40, 50, 60}

In [25]:
s1^s2

{40, 50, 60, 90, 100}

## 9.divisible by m and n

In [52]:
lst1=list(eval(input("enter a list of numbers:")))
m=int(input("enter the first no:"))
n=int(input("enter the second no:"))
lst2=[]
for i in lst1:
    if ((i%m==0)&(i%n==0)):
        lst2.append(i)
print("The list divisible by ",m," & ",n," are:",lst2)

enter a list of numbers: 12,6,8,9
enter the first no: 2
enter the second no: 3

The list divisible by  2  &  3  are: [12, 6]

## 10.replicate

In [39]:
lst1=list(eval(input("enter a string:")))

lst11=lst1*2
lst11

enter a string: 23,45,34,56

[23, 45, 34, 56, 23, 45, 34, 56]

In [44]:
lst11.sort()

In [46]:
lst11

[23, 23, 34, 34, 45, 45, 56, 56]

In [47]:
lst11.sort(reverse=True)
lst11

[56, 56, 45, 45, 34, 34, 23, 23]